body {
  font-family: Arial, sans-serif;
  
}

.all {
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  padding: auto;
  height: 100vh;
}
.container {
  width: 380px;
  margin: 10px auto;
  padding: 50px;
  /* backdrop-filter: blur(5px); */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

ol {
  padding: o;
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 70%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
  
}

.index {
  width: 380px;
  margin: 150px auto;
  padding: 50px;
  /* backdrop-filter: blur(5px); */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
  list-style: disc;
}

button {
  width: 80%;
  padding: 10px;
  align-self: center;
  font-size: 16px;
  border-radius: 5px;
  background: #ffffff url(/im/red_button.jpg) center center/cover no-repeat;
  color: #fff;
  border: #000000;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #ffffff url(/im/green_button.jpg) center center/cover no-repeat;

}

button a {
  text-decoration: none;
  color: inherit;
}

.stu {
  width: 280px;
  margin: 150px auto;
  padding: 50px;
  /* backdrop-filter: blur(5px); */
  background: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.view {
  text-align: center;
  margin: 20px;
}
